<!-- public/templates/home.html -->

<div class="row">
    <div class="col-md-12">
        <label for="weather_station">Weather station:</label>
        <select id="weather_station" ng-model="weather_station" ng-change="update_station()">
            <option value="">-- Choose station --</option>
            <option ng-repeat="ws in weather_stations" value="{{ws.id}}">{{ws.name}}</option>
        </select>
    </div>
</div>

<div id="weather_station_results">
    <div class="row">
        <div class="col-md-12">
            <h1>Last day:</h1>

            <p class="ajax-loader ajax-loader-last-day">
                <img src="ajax-loader.gif"/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <p style="font-weight: bold;">
                Temperature => <span class="color_max">Max {{last_day_temp_max}}&#8451;</span> | <span
                    class="color_avg">Avg {{last_day_temp_avg}}&#8451;</span> | <span
                    class="color_min">
                Min {{last_day_temp_min}}&#8451;</span>
            </p>

            <div id="placeholder-last-day-tmp-legend" class="legends"></div>
            <div id="placeholder-last-day-tmp" class="graphs"></div>
        </div>

        <div class="col-md-5">
            <p style="font-weight: bold;">
                Humidity => <span class="color_max">Max {{last_day_hum_max}}%</span> | <span
                    class="color_avg">Avg {{last_day_hum_avg}}%</span> | <span
                    class="color_min">
                Min {{last_day_hum_min}}%</span>
            </p>


            <div id="placeholder-last-day-hum-legend" class="legends"></div>
            <div id="placeholder-last-day-hum" class="graphs"></div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <h1>Custom:</h1>

            <p class="ajax-loader ajax-loader-custom">
                <img src="ajax-loader.gif"/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="date_from">From:</label>
                <input id="date_from" type="text" class="datepicker form-control" placeholder="Select date..."
                       ng-model="date_from" ng-change="update_custom()"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="date_to">To:</label>
                <input id="date_to" type="text" class="datepicker form-control" placeholder="Select date..."
                       ng-model="date_to" ng-change="update_custom()"/>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <div id="data-custom-error" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                No meteo data between dates!
            </div>
        </div>
    </div>

    <div class="row">
        <div id="data-custom">
            <div class="col-md-5">
                <p style="font-weight: bold;">
                    Temperature => <span class="color_max">Max {{custom_temp_max}}&#8451;</span> | <span
                        class="color_avg">Avg {{custom_temp_avg}}&#8451;</span> | <span
                        class="color_min">
                    Min {{custom_temp_min}}&#8451;</span>
                </p>

                <div id="placeholder-custom-tmp-legend" class="legends"></div>
                <div id="placeholder-custom-tmp" class="graphs"></div>
            </div>

            <div class="col-md-5">
                <p style="font-weight: bold;">
                    Humidity => <span class="color_max">Max {{custom_hum_max}}%</span> | <span
                        class="color_avg">Avg {{custom_hum_avg}}%</span> | <span
                        class="color_min">
                    Min {{custom_hum_min}}%</span>
                </p>

                <div id="placeholder-custom-hum-legend" class="legends"></div>
                <div id="placeholder-custom-hum" class="graphs"></div>
            </div>
        </div>
    </div>
</div>

<br/>