<!-- public/templates/home.html -->

This is the home page.

<br />
<br />

<label for="weather_station">Weather station:</label>
<select id="weather_station" ng-model="weather_station" ng-change="update_station()">
    <option value="">-- Choose station --</option>
    <option ng-repeat="ws in weather_stations" value="{{ws.id}}">{{ws.name}}</option>
</select>

<div id="weather_station_results" class="hide">
    <h1>Last day:</h1>
    <p class="ajax-loader ajax-loader-last-day">
        <img src="ajax-loader.gif" />
    </p>

    <p>
        Temperature Avg:{{last_day_temp_avg}}<br />
        Humidity: {{last_day_hum_avg}}
    </p>

    <p>
        {{weather_station_data_last_day}}
    </p>
</div>

<div id="placeholder" style="width:600px;height:300px"></div>