.graphs {
  width: 370px;
  height: 200px
}

.legends {
  width: 370px;
}

.header {
  margin-bottom: 30px;
}

.color_max {
  color: #FF415A;
}

.color_avg {
  color: #DBD700;
}

.color_min {
  color: #69E7FF;
}